__pycache__
.venv
.vscode
proxy-api/src/notebook
digital-go-geocode/src/notebook
proxy-api/config/local.yaml
proxy-api/config/prod.yaml

proxy-api/src/resources/geocode/merged_jyuukyo.csv

proxy-api/digital-go-geocode/*