# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

PyYAML
azure-functions
azure-keyvault-secrets
azure-identity
azure-storage-blob
pandas
openpyxl
requests
beautifulsoup4